<div class="row wrapper instructions">
		<header class="twelve columns centered sect_head">
			<hgroup>
				<h1>How does <strong><span style="color: #3085d6;">Collective Junkebox!</span> works?</strong></h1>
			</hgroup>
      <hgroup>
  		  <h2>1. Search via <strong> Spotify </strong> the song you want to play</h2>
  	 	  <h2>2. You have 1 slot per hour </h2>
  		  <h2>3. Enjoy! </h2>
      </hgroup>
			<ul class="socbtns">
				<li><div class="btn xlarge oval  primary"><a href="/#/search">Search Now!</a></div></li>
			</ul>
		</header>
	</div>