<div class="row wrapper instructions">
		<header class="twelve columns centered sect_head">
			<hgroup>
				<h1>How does <strong><span style="color: #3085d6;">Collective Jukebox!</span> works?</strong></h1>
  		  <h3>1. Search via <strong> Spotify </strong> the song you want to play</h3>
  	 	  <h3>2. You have 1 slot per hour </h3>
  		  <h3>3. Enjoy! </h3>
  		  <ul>
  		   	<li><div class="btn xlarge oval  primary icon-left entypo icon-search"><a href="/#/search">Search Now!</a></div></li>
  		  </ul>
		</header>
	</div>