<div class="row wrapper">
		<header class="twelve columns centered sect_head">
			<hgroup>
				<h1>Welcome <strong><span style="color: #3085d6;">Collective Junkebox!</span></strong></h1>
				<h2><strong> @ SUMA CONECTIVO! </strong></h2>
			</hgroup>
			<hgroup>
				<h5>Now Playing:</h5>
				<h3><strong>Muse - Stockholm Syndrom  </strong></h3>
			</hgroup>
			<ul class="socbtns">
				<li><div class="btn xlarge oval  primary"><a href="/#/instructions">Start Now!</a></div></li>
			</ul>
		</header>
	</div>