<div class="row wrapper landing">
		<header class="twelve columns centered sect_head">
			<hgroup class="landing-header">
				<h1 class="block-header">
          Welcome <strong>Collective Jukebox!</strong> <br />
          <strong class="small"> @ SUMA CONECTIVO! </strong>
        </h1>
      </hgroup>
      <hgroup class="info">
				<h5>Now Playing:</h5>
				<h3><strong>Muse - Stockholm Syndrom  </strong></h3>
			</hgroup>
			<ul class="socbtns">
				<li><div class="btn xlarge oval  primary"><a href="/#/instructions">Start Now!</a></div></li>
			</ul>
		</header>
	</div>